---
import BaseLayout from '@layouts/BaseLayout.astro';
import Hero from '@components/Hero.astro';
import Identity from '@components/Identity.astro';
import Trending from '@components/Trending.astro';
---

<BaseLayout transparentNav={true}>
  <main>
    <Hero />
    <Identity />
    <Trending />
  </main>
</BaseLayout>
